.dashboard {
  background-color: rgb(112, 111, 110);
  height: 100vh;
  color: white;
  cursor: pointer;
}
.dashboard-menu {
  list-style: none;
  margin-top: 10px;
}
.dashboard-menu:hover {
  color: black;
}
