.card-body {
  background-color: rgb(186, 200, 201);
  justify-content: center;
  text-align: center;
  height: 130px;
  overflow: hidden;
}
.service-card {
  border: 1px solid blue;
  border-radius: 5px;
}
.image {
  height: 250px;
  overflow: hidden;
}
